html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
}


.side-menu{
    background: url('../img/side-image.jpg');
    background-blend-mode: multiply; 
    width: 10em;
    height: 100%;
    color: black;
    position: fixed;
}

.side-menu .col-md-12{
    padding-left: 0px;
    margin: 0px;
}

.side-menu-half{
    margin: 0px;
}

.row{
    margin: 0px;
}

.col{
    padding: 0px;
}

.side-menu-top{
    height: 3em;
    border-bottom: solid 1px darkgray ;
}

.side-menu-bottom{
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
    font-size: 0.8em;
}

.side-menu-option{
    cursor: pointer;
    padding: 0.4em 0em;
    display: flex;
}

.side-menu-option-button{
    margin-left: 1em;
}

.side-menu-option-img{
    width: 15px;
    padding-right: 0em;
}

.list{
    margin-left: 12.5em;
    width: 100%;
    font-size: 0.8em;
}

.navbar{    
    height: 3em;
    border-bottom: solid 1px lightgray;
    box-shadow: lightgrey 0px 5px 10px 0px;
    padding: 0px;
    position: fixed;
    width: -webkit-fill-available;
    left: 0;
    margin-left: 12.5em;
    z-index: 1;
    background: white;
}

#navbarTitle{
    font-size: 1em;
}

#navbar-title-col{
    padding-left: 0em;
}

.navbar-menu-icon{
    width: 12px;
    align-self: center;
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-side-menu{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.navbar-side-menu:hover{
    color: #33b5e5;
}

.navbar-notify-count{
    background: #f44336;
    padding: 0px 0.5em;
    border-radius: 5px;
    font-size: 0.7em;
    display: flex;
    height: 70%;
    align-self: flex-end;
    margin-right: 0.65em;
    box-shadow: darkgrey 1px 1px 3px 1px;
}

.navbar-dropdown-toggle-button{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    align-self: center;
    cursor: pointer;
    margin-left: 0.65em;
}

.navbar-side-menu-option{
    margin-left: 0.5em;
}

#navbarSignIn{
    color: #33b5e5;
}

#navbarSignUpButton{
    width: 20%;
}

#navbarSignUp{
    display: flex;
    background: #33b5e5;
    color: white;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    font-size: 0.8em;
    margin: 0px;
    align-items: center;
}

#greeting-list{
    padding-top: 3em;
    display: none;
}

.greeting-list-col{
    padding-top: 2em;
    font-weight: bold;
}

.greeting-list-title{
    padding: 0px 15px;
}

.greeting-list-items{
    padding-top: 2em;
}


.greeting-list-item {
    border: solid 1px lightgray;
    box-shadow: darkgrey 1px 1px 5px 2px;
    color: gray;
    margin: 1em 0em;
}

.greeting-list-item-id{
    padding: 1em 0em;
}

.greeting-list-item-data{
    display: flex;
    flex-direction: row;
}

.greeting-list-item-greeting-text{
    padding: 0.5em 0em;
    color: black;
    font-size: 1.25em;
    font-weight: bold;
}

.greeting-list-item-greeting-info{
    padding: 1em 0em;
    align-self: center;
}

.greeting-list-item-time{
    padding: 1em 0em;
}

.greeting-list-item-btn{
    width: 15px;
    position: absolute;
    cursor: pointer;
}

.greeting-list-item-edit{
    display: none;
    right: 7%;
    top: 5%;
}

.greeting-list-item-edit:hover{
    top: 6%;
}
.greeting-list-item-delete{
    display: none;
    right: 7%;
    bottom: 20%;
}

.greeting-list-item-delete:hover{
    bottom: 19%;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
}

.navbar-dropdown-options{
    position: absolute;
    top: -100px;
    border: solid 1px darkgray;
    font-size: 1.2em;
    background: white;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in;
}
