html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
}


.side-menu{
    background: url('../img/side-image.jpg');
    background-blend-mode: multiply; 
    width: 10em;
    height: 100%;
    color: black;
    position: fixed;
}

.side-menu .col-md-12{
    padding-left: 0px;
    margin: 0px;
}

.side-menu-half{
    margin: 0px;
}

.row{
    height: 100%;
    margin: 0px;
}

.col{
    padding: 0px;
}

.side-menu-top{
    height: 3em;
    border-bottom: solid 1px darkgray ;
}

.side-menu-bottom{
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
    font-size: 0.8em;
}

.side-menu-option{
    cursor: pointer;
    padding: 0.4em 0em;
    display: flex;
}

.side-menu-option-button{
    margin-left: 1em;
}

.side-menu-option-img{
    width: 15px;
    padding-right: 0em;
}

.list{
    margin-left: 12.5em;
    width: 100%;
    font-size: 0.8em;
}

.navbar{
    height: 3em;
    border-bottom: solid 1px lightgray;
    box-shadow: lightgrey 0px 5px 10px 0px;
    padding: 0px;
}

#navbarTitle{
    font-size: 1em;
}

#navbar-title-col{
    padding-left: 0em;
}

.navbar-menu-icon{
    width: 12px;
    align-self: center;
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-side-menu{
    display: flex;
    flex-direction: row;
}

.navbar-notify-count{
    background: #f44336;
    padding: 0px 0.5em;
    border-radius: 5px;
    font-size: 0.7em;
    display: flex;
    height: 70%;
    align-self: flex-end;
    margin-right: 0.65em;
    box-shadow: darkgrey 1px 1px 3px 1px;
}

.navbar-dropdown-toggle-button{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    align-self: center;
    cursor: pointer;
    margin-left: 0.65em;
}

.navbar-side-menu-option{
    margin-left: 0.5em;
}